/* lightblue = #6ed3cf;
purple = #9068be;
lightwhite = #e1e8f0;
redflavor = #e62739; 
lightblue2 = #66fcf1
dark blue = #45a293
lightwhite2 = #c5c6c7
darkestblue = #1f2833
black = #0b0c10

*/

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #0b0c10;
  color: #c5c6c7;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.alert{
  width: 90%;
  padding: 0 0.5rem;
  margin-top: 1rem;
}
.alert-danger{
  background-color: rgb(243, 81, 41);
}
.alert-success{
  background-color: rgb(90, 233, 90);
}
.active{
  background-color: honeydew;
}
.addNew{
  margin-top: 4rem;
}
.l-card{
  width: 14rem;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #0c0032;
  display: flex;
  justify-content: center;
  z-index: 1;

  border-bottom: 0.0001rem solid #c5c6c7;
}
.navbar {
  width: 85%;
  font-family: 'Architects Daughter', cursive;
  font-weight: 600;
  color: #c5c6c7;
  height: 4rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 0.6rem;
}
.logo h1{
  margin: 0;
}

.navbar ul {
  display: flex;
}
.nav-ul li {
  list-style: none;
  text-align: center;
  margin-right: 1rem;
}
.navbar a {
  padding: 0.5rem;
  text-decoration: none;
  color: #c5c6c7;
  border-radius: 1rem;
  font-size: 1rem;
}
.navbar a:hover {
  background-color: #030d1828;
}

/* intro-page */
#intro-page {
  display: flex;
  justify-content: space-around;
}
.intro-box {
  background-color: #0c0032;
  color: #c5c6c7;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-box .intro-heading {
  display: block;
  font-size: 3rem;
  text-align: center;
}
.get-started {
  text-decoration: none;
  color: #c5c6c7;
  background-color: #0c0032;
  font-weight: 550;
  font-size: 1.2rem;
  padding: 0.2rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #c5c6c7;
}
.start {
  background-color: #f08021;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #0b0c10;
}
.get-started:hover {
  cursor: pointer;
  color: #e1e8f0;
  background-color: #0b0c10;
  border: 1px solid #e1e8f0;
}

#cards-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-1 img {
  width: 300px;
  height: 300px;
}
.card .card-img {
  height: 150px;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.home-intro {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  color: #0b0c10;
  width: 100%;
  background-image: url('./images/homeimage.jpg');
  background-color: #57afca;
  background-blend-mode: hard-light;
  min-height: 30rem;
}

.heading-box {
  margin: 1rem;
  background-color: #fff;
  border: 1px solid #0b0c10;
  border-radius: 2rem;
  padding: 1rem;
}
.heading-box h1 {
  text-align: center;
  margin: 0;
}
.heading-box p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.home-mylearnings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c5c6c7;
  width: 100%;
}
.home-mylearnings h3 {
  margin-left: 2rem;
}
.mylearning-input{
  text-align: center;

}

.mylearning-cards {
  margin-left: 2rem;
  width: 90%;
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  overflow-x: scroll;
  border: 1px solid #c5c6c7;
  border-radius: 4px;
}

.mycard {
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  height: 11rem;
}
.recommend {
  background-color: #0c0032;
  margin: 0;
  width: 100%;
  height: 4rem;
  /* border-radius: 20px 20px 0 0; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-top: 1px solid #c5c6c7;
  border-left: 1px solid #c5c6c7;
  border-right: 1px solid #c5c6c7;
}
.recommend h2 {
  font-size: 1rem;
  margin: 0;
  display: inline;
  text-align: left;
  padding-left: 20px;
}
.recommend-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}
.cards {
  color: #c5c6c7;
  margin-top: -4rem;
  margin-bottom: 4rem;
  background-color: #c5c6c7;
  border-radius: 5px;
  /* border-radius: 20px 20px 0 0; */
  width: 80%;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-1 {
  background-color: #116466;
}
.card-2 {
  background-color: #9a9a9a;
}
.card-3 {
  background-color: #f08021;
}
.card-4{
  background-color: #f64c72;
}
.card-5{
  background-color: #05386b;
}
.cards .card {
  margin: 1.2rem 0.8rem;
  height: 300px;
  min-width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#create-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
  overflow: hidden;
}
.create-own {
  margin: 0;
  padding: 0 2rem 0 0;
  width: 90%;
  min-height: 30rem;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}
.create-headerdiv {
  width: 50%;
  margin: 0;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e1e8f0;
  background-attachment: fixed;
  clip-path: polygon(100% 0, 100% 0, 75% 100%, 0 100%, 0 0);
  overflow: hidden;
  color: #000000;
  padding: 0 10% 0 2%;
}
.create-own .create-heading {
  display: inline;
  text-align: center;
  font-size: 2rem;
}

.stack h1 {
  font-size: 1rem;
  margin: 0;
  color: #0b0c10;
}
.stack.stack-2 {
  background-size: cover;
  background-color: #9068be;
  grid-column: 2/4;
  grid-row: 2/4;
}
.stack.stack-3 {
  background-color: #f08021;
  grid-column: 1/3;
  grid-row: 3/5;
}
.stack.stack-1 {
  background-color: #9a9a9a;
  grid-column: 3/5;
  grid-row: 1/3;
}

.stack {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 11rem;
  height: 11rem;
  border: 2px solid #0b0c10;
}
.stack-cards {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5rem;
  box-sizing: border-box;
}

#intro-recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards-recommend {
  margin-top: 3rem;
  width: 100%;
  min-height: 30rem;
}
.cards-recommend .card {
  margin: 1.2rem 0.8rem;
  height: 300px;
  min-width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommend-card {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-row-gap: 1rem;
  justify-items: center;
  width: 100%;
  min-height: 30rem;
}
.subtopic-active{
  /* border-top:0.001rem solid #0b0c10;
  border-bottom:0.001rem solid #0b0c10; */
  border-left:0.4rem solid #f08021;
  background-color: #c5c6c756;
}
.foot {
  width: 100%;
  height: 6rem;
  background-color: #9a9a9a;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #5e310b;
}

.topic {
  margin-top: 4rem;
}
.leftdiv p {
  font-size: 15px;
}
.leftdiv {
  width: 20%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.leftdivinner {
  color: #0b0c10;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5rem;
}
.rightdiv {
  padding: 3rem 0;
  margin-left: 20%;
  width: 80%;
  background-color: #0b0c10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.links {
  color: #0b0c10;
  width: 80%;
  min-height: 30rem;
  background-color: #c5c6c7;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.input-links {
  width: 80%;
}
.input-links input {
  font-size: large;
  width: 100%;
  height: 2rem;
  background-color: #c5c6c7;
  border: none;
  border-bottom: 1px solid #fff;
  color: #0b0c10;
  font-weight: 600;
}
.input-links input:focus {
  outline: none;
  border-bottom: 2px solid #f08021;
}
.notes {
  width: 80%;
  min-height: 30rem;
  background-color: #c5c6c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notes .notes-text {
  color: #0b0c10;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes-text textarea {
  width: 90%;
  height: 80%;
  border: none;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 400;
  resize: none;
}
.notes-text textarea {
  outline: none;
}
.mylearnings {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.register-card h3 {
  color: #0b0c10;
  font-size: 2rem;
  margin: 0;
}

.register-card {
  color: #0b0c10;
  margin-top: 4rem;
  width: 40%;
  min-height: 30rem;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 0;
  border-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 3px #f08021;
}

.input {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.form {
  width: 100%;
}
.input input {
  width: 80%;
  height: 2.4rem;
  font-size: 1.2rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: 500;
  border-bottom: 2px solid #0b0c10;
}
.input input:focus {
  outline: none;
  border-bottom: 2px solid #f08021;
}

.not-found{
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delete_butn1{
  color: #c5c6c7;
  font-size: 1rem;
}
.deleteBtn{
  color:#5e310b;
  font-size: 0.7rem;
}
.deleteBtn:hover{
  cursor: pointer;
}
.delete_butn{
  color: #000000;
  font-size: .6rem;
  text-align: center;
}
.delete_butn:hover,.delete_butn1:hover{
  cursor: pointer;
}
.butn-register input {
  color: #fff;
  border-radius: 3px;
  background-color: #5e310b;
}
.butn-register input:hover {
  cursor: pointer;
}
.mylearning-head{
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .recommend-card {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 1rem;
    justify-items: center;
    width: 100%;
    min-height: 30rem;
  }
  .l-card{
    width: 14rem;
    min-height: 15rem;
  }
  .create-headerdiv {
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 0 100%, 0 0);
    width: 100%;
    min-height: 20rem;
    padding: 0;
  }
  .create-own {
    padding: 0 0 2rem 0;
  }
  .intro-box .intro-heading {
    font-size: 2rem;
  }
  .logo {
    font-size: 0.6rem;
  }
  .lines {
    z-index: 4;
    position: fixed;
    right: 1.575rem;
    top: 1.575rem;
    transition: all 0.8s ease-out;
  }
  .nav-ul li {
    padding: 0;
  }
  .nav-ul {
    z-index: 2;
    position: fixed;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition: all 0.8s ease-out;
    background-color: #9a9a9a;
    width: 60%;
    float: right;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.9;
    margin: 0;
    font-size: large;
    text-transform: uppercase;
  }
  .nav-ul a {
    color: #100e17;
    font-size: medium;
  }
  .nav-ul.show {
    visibility: visible;
    padding: 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.6s ease-out;
  }

  .lines:hover {
    cursor: pointer;
  }
  .btn-line {
    margin: 0 0 0.28rem 0;
    width: 1.5rem;
    height: 0.1875rem;
    background-color: #c5c6c7;
    transition: all 0.8s ease-out;
  }
  .lines.close .btn-line {
    background-color: #0b0c10;
  }
  .lines.close {
    transform: rotate(180deg);
  }
  .lines.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .lines.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .lines.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  .create-own {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
  }
  .create-own .create-heading {
    font-size: 1rem;
  }
  .stack {
    text-align: center;
    width: 7rem;
    height: 7rem;
  }
  .stack-cards {
    grid-gap: 3rem;
  }
}
.sticky-header{
  visibility: hidden;
}
@media screen and (max-width:520px){
  .logo a{
    font-size: .8rem;
  }
  .recommend-card {

    grid-template-columns: repeat(2, 45%);
    grid-row-gap:1rem;
    grid-column-gap: 0.5rem;
    
  }
  .l-card{
    width: 8rem;
    min-height: 10rem;
  }
}
.more-div{
  height: 0;
  visibility: hidden;
}
.more-div a{
  text-decoration: none;
}
.linksstored{
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksstored a{
  width: 100%;
}
.linksstored h4{
  font-size: 0.7rem;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .register-card {
    width: 90%;
    height: 70vh;
  }
  .delete_butn1{
    visibility: hidden;
    height: 0;
    width: 0;
  }
  header {
    overflow: hidden;
  }
  .leftdiv {
    top: 6rem;
    opacity: 0.9;
    visibility: hidden;
  }
  .sticky-header{
    visibility: visible;
    position: sticky;
    top: 4rem;
    width: 100%;
    
  }
  .more-div{
    height: 20vh;
    width: 50%;
    top:6rem;
    position: fixed;
    right: 0;
    background-color: #e5f5f5;
  }
  .show-more{
    visibility: visible;
  }
  .subtopics,.more{
    height: 2rem;
    position: sticky;
    text-align: center;
    width: 50%;
    background-color: #0c0032;
    color: #c5c6c7;
    border-radius: 2px;
    opacity: 0.9;
    border-bottom: 1px solid #c5c6c7;
    font-size: .8rem;
  }
  .subtopics{
    border-right: 1px solid #c5c6c7;
  }
  
  .subtopics h4, .more h4 {
    margin: 0;
  }
  .rightdiv {
    margin-left: 0;
    width: 100%;
  }
  
  .links {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .notes {
    width: 100%;
    border-radius: 20px 20px 0 0;

  }
  .show-subtopics {
    width: 50%;
    height: 100vh;
    visibility: visible;
  }
}
@media screen and (max-width: 1024px) {
  .create-headerdiv {
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 0 100%, 0 0);
    width: 100%;
    min-height: 20rem;
    justify-content: center;
    padding: 0;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .create-own {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}